// COLORS
$main-dark: rgb(211, 211, 211);
$main-light: rgb(114, 123, 163);
$accent: #ecce22;

// mixins

@mixin media($width) {
  @media (max-width: $width) {
    @content
  }
};

@mixin hover() {
  @media (hover: hover){
    &:hover {
        @content
    }
  };

  @media (hover: none){
      &:active {
          @content
      }
  };
}
